/* Reset Code */

body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: 'open Sans', sans-serif;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}

body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}
p {
	margin:0;
}
ul {
	margin:0;
	padding:0;
}
label {
	margin:0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none
}
img {
	width: 100%;
}
/*-- //Reset Code --*/

/*-- Banner --*/
/*-- Navbar --*/

.navbar {
    margin-bottom: 0;
    position: absolute;
    z-index: 999;
    background: transparent;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px 0;
}

.navbar-header h1{
	color:#fff;
	font-size:32px;
}



.navbar-header img{
	width:40%;
}



.navbar-nav>li {
	padding: 5px 15px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #FFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #E91E63;
    background-color: transparent;
}


/*-- Link-Hover-Effect --*/


.hover-effect a {
	padding: 10px;
	color: #237546;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	font-family: 'Raleway', sans-serif;
}

.hover-effect a:hover {
    border-bottom: 2px solid #fff;
    color: rgb(6, 167, 38) !important;
}

/*-- //Link-Hover-Effect --*/
/*-- //Navbar --*/

/*-- Banner-Slider --*/

.slider {
	position: relative;
}


.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}


.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: 100vh;  /*  sıkıntı cıkarsa auto yap     */
	float: left;
	width: 100%;
	border: 0;
}

.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 50%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: url("/img/themes.gif") no-repeat left top;
	margin-top: -35px;
}
.callbacks_nav.next {
	left: auto;
	background-position: right top;
	right: 0;
}

ul.callbacks_tabs.callbacks1_tabs {
	display: none;
}

.callbacks_nav {
	left: 20px;
}

.callbacks_nav.next {
	right: 20px;
}


/*-- //Banner --*/





/*--Trend--*/
.trend,.about-info,.contact,.blog{
	padding:50px 0px;
}
.trend h2,.about-info h2,.contact h2{
	font-size:40px;
	color:#e91e63;
	margin-bottom:40px;
}

.trend-grid{
	padding:0 15px;
}
.trend h4{
	font-size:27px;
	color:#000;
	margin-bottom:20px;
}
/*--flexisel--*/
.flex-slider{	
background:#222227;
padding: 70px 0 165px 0;
}

#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:60px;
	height:115px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
	left:0%;
	top: 15% !important;
	display:none;
	}
.nbs-flexisel-nav-right {
	right: 0%;
	top: 15% !important;
	display:none;
	}
/*--//flexisel--*/
/*--//trend--*/


/*--new games--*/

.new-games .container h3 {
	font-size: 40px;
	color: #e91e63;
	margin-bottom: 40px;
}


.new-grid{
	margin-top:30px;
}
.view {
    overflow: hidden;
    position: relative;
    margin-top: 2em;
}
.view .mask, .view .content {
    width: 90%;
    position: absolute;
    overflow: hidden;
    padding: 6.5em 0;
}
.view img {
   display: block;
   position: relative;
}
.view h4 {
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 2.5em;
    letter-spacing: 2px;
}
.view p {
   font-size: 1em;
   position: relative;
   color: #fff !important;
   padding: 0.5em 0;
   text-align: center;
   margin:0;
}
.view-eighth .mask {
   background-color:rgba(0, 0, 0, 0.67);
   top: -200px;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-out 0.5s;
   -moz-transition: all 0.3s ease-out 0.5s;
   transition: all 0.3s ease-out 0.5s;
}
.view-eighth h2 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.1s;
   -moz-transition: all 0.2s ease-in-out 0.1s;
   transition: all 0.2s ease-in-out 0.1s;
}
.view-eighth p {
   color: #333;
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.2s;
   -moz-transition: all 0.2s ease-in-out 0.2s;
   -o-transition: all 0.2s ease-in-out 0.2s;
   -ms-transition: all 0.2s ease-in-out 0.2s;
   transition: all 0.2s ease-in-out 0.2s;
}
.view-eighth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   top: 0px;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   transition-delay: 0s;
   -webkit-animation: bounceY 0.9s linear;
   -moz-animation: bounceY 0.9s linear;
   -ms-animation: bounceY 0.9s linear;
   animation: bounceY 0.9s linear;
   height: 100%;
}
.view-eighth:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-eighth:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
@keyframes bounceY {
    0% { transform: translateY(-205px);}
    40% { transform: translateY(-100px);}
    65% { transform: translateY(-52px);}
    82% { transform: translateY(-25px);}
    92% { transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}

/*--//new games--*/


/*-- //footer --*/
.footer{
	padding:35px 0px;
}

.footer-left .contact{
	margin-bottom: 0;
	margin-top: -25px;
}

.footer-right h4 {
	margin-top: 28px;
}



.footer-middle .lts-games {
	margin-bottom: 35px;
}

.footer h4{
	text-align:left;
	color:#000;
	font-size:27px;
	margin-bottom:30px;
}
.footer-left ul li{
	display:inline-block;
	margin-bottom:35px;
}
.footer-left .glyphicon{
	font-size:16px;
}
.footer-left ul li h6{
	font-size:16px;
	color:#000;
	margin-left:10px;
}
.footer-left ul li a{
	font-size:14px;
	color:#000;
}
.footer-middle{
	margin-top: 25px;
	margin-bottom:15px;
}
.footer-right h4{
	color: #E91E63;
}
.footer-right img {
    width: 12%;
}

.footer-right p{
	font-size:14px;
	color:#000;
	line-height:30px;
}
p.agileinfo{
	margin-top:30px;
}
.copyright p {
    text-align: center;
    font-size: 14px;
    color: #000;
    border-top: 1px dotted #000;
    padding: 30px 0px 0 0px;
}
.copyright p a{
	color:#000;
}
.copyright p a:hover{
	text-decoration:underline;
}
/*-- //footer --*/


/*-- sub-banner --*/
.sub-banner{
	background:url(../img/banner1.jpg) no-repeat 0 0;
	min-height:87px;
	background-size: cover;
}
/*-- //sub-banner--*/


/*-- about--*/


.about-grids {
    margin: 3em 0 0;
}
.about-grid-left ul {
	display: flex;
	flex-direction: column;
}

.about-grid-left ul li{
	display: inline-block;
    margin-bottom: 2em;
    font-size: 14px;
    text-transform: capitalize;
	color:#999;
}
.about-grid-left ul li a{
	text-decoration:none;
	color:#999;
	background:#0822b3;
}
.about-grid-left ul li i{
	padding: .7em 1em;
    background: #9e254e;
    color: #fff;
    margin-right: 2em;
    border-radius: 60%;
	font-style:normal;
}
.about-grid-right img {
    padding: .5em;
    border: 1px dotted #999;
}
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	line-height: 1;
	display: inline-block;
}


/* Kumya */
.link--kumya {
	overflow: hidden;
	padding:0;
	line-height: 1;
	z-index: 9999;
	padding: 10px;
    display: inline-flex;
}

.link--kumya:hover {
	color:rgb(168, 160, 160);
}

.link--kumya::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background:#12227e;
	-webkit-transform: translate3d(101%,0,0);
	transform: translate3d(101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.link--kumya:hover::after,.welcome-grid:hover .link--kumya::after{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link--kumya span {
	display: block;
	position: relative;
}

.link--kumya span::before {
	content: attr(data-letters);
	position: absolute;
	color: #fff;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover span::before,.welcome-grid:hover .link--kumya span::before{
	width: 100%;
}

.grid {
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
    float: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    background: transparent;
    text-align: center;
}

.grid figure img {
/*-- agileits --*/
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}


.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
    top: 0;
    left: 9px;
    width: 96.8%;
    height: 100%;
}
/***** Zoe *****/
/*---------------*/


figure.effect-zoe figcaption {
	top: auto;
    bottom: 0;
    padding: 1em;
    height:3.3em;
    background: #E91E63;
    color: #212121;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h3 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #FFFFFF;
    font-size: 1em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
    bottom: 8em;
    padding: 2em;
    color: #fff;
    text-transform: none;
    font-size: .8em;
    line-height: 1.8em;
    background: rgba(53, 53, 53, 0.25);
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden;
}

figure.effect-zoe h3,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	transition:.5s ease-in;
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
}

figure.effect-zoe h3 {
	display: inline-block;
	font-size:1.3em;
	color:#fff;
}

figure.effect-zoe h3 span {
	color: #0c1e81;
	margin: 0 7px;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h3,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	    bottom: 9px;
}

figure.effect-zoe:hover h3 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

/*-- //about --*/



/* Team */
.tittle {
	color: #fff;
	margin-bottom: 20px;
	font-size: 30px;
	transition: 0.8s;
}
.team-info .sub-tittle-team {
	margin-top: 15px !important;
	color: #ffffff;
	display: inline-block;
	margin: 3px 0;
	transition: 0.8s;
}
.team-info h3 {
    font-size: 1.2em;
    color: #1b1b1b;
    margin: 0 0 0.5em 0;
	font-family: 'Raleway', sans-serif;
	transition: 0.8s;
}

.team-info h3 a {
    color: #ffffff;
	display: inline-block;
	margin: 3px 0;
	transition: 0.8s;
}

.team-info h3 a:hover {
    color: #444;
	font-family: 'Raleway', sans-serif;
	transition: 0.8s;
}

.sub-tittle-team {
    font-size: 1em;
    color: #495057;
}

.team-info p {
    padding: 0 1em;
	color: #ffffff;
	ffont-family: 'Raleway', sans-serif;
}

.icon-social a {
    color: rgb(199, 185, 196);
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 30px;
	
}

.icon-social span {
	transition: 0.8s;
}

.icon-social span:hover {
	color: rgb(219, 149, 149);
	transition: 0.8s;
}

.team-gd img {
	transition: 0.8s;
}
.team-gd img:hover {
    width: 90%;
	transition: 0.8s;
}


.about-footer h4{
	color: #fff;
}

.about-footer .footer-left ul li i,
.about-footer .footer-left ul li  h6 {
	color: #FFF !important;
}

.about-footer .footer-right p {
	color: #fff;
}
.about-footer .copyright p {
	color: #fff;
} 
/*--//team --*/


/*-- gallery --*/

.gallery {
    background-color: #F7F7F7;
}

.gallery .container .gallery-grids {
	margin-top: 100px;
}

.gallery-grids {
    margin: 3em 0 0;
}
.gallery-grid{
	float:left;
	width:25%;
}
.gallery-grid a {
    display: block;
    overflow: hidden;
}
.gallery-grid img{
	padding:.5em;
}
img.zoom-img {
     transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
}
img.zoom-img:hover{
    transform: scale(.9);
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-ms-transform: scale(.9);
	-o-transform: scale(.9);
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 750ms;
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-duration: 750ms;
	-ms-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	-ms-transition-duration: 750ms;
	-o-transition-duration: 750ms;
	overflow: hidden;
}
.span1 {
    margin: 18px 0;
    padding: 15px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.span2{
    border-bottom: 1px solid #Eee;
    padding-bottom: 15px;
}
.span3 {
    border-bottom: 1px solid #Eee;
    padding: 15px 0px;
}
p.left {
    float: left;
    font-size: 14px;
    color: #000;
    letter-spacing: 3px;
    margin-right: 5%;
    width: 35%;
    font-weight: 600;
}
p.right {
    font-size: 14px;
    float: left;
    color: #949494;
    letter-spacing: 2px;
}
.pop-up-content-agileits h4{
	font-size:27px;
	color:#fff;
	text-align:left;
	margin-bottom:25px;
}
.pop-up-content-agileits p{
	color:#eee;
	font-size:14px;
	line-height:27px;
}
p.agileits{
	margin:20px 0;
}

.games-footer .footer-left .contact {
	margin-top: 0 !important;
}

.games-footer .footer-left ul li i,
.games-footer .footer-left ul li  h6 {
	color: #FFF !important;
}

.games-footer h4{
	color: #fff;
}

.games-footer .footer-left ul li i,
.games-footer .footer-left ul li  h6 {
	color: #FFF !important;
}

.games-footer .footer-right p {
	color: #fff;
}
.games-footer .copyright p {
	color: #fff;
} 

.games-footer .footer-left .contact {
	margin-top: 28px;
}


/*-- //gallery --*/


/*-- Contact --*/
.contact-right {
	margin-top: 100px;
}

.contact-left {
	margin-top: 100px;
}

.contact-left h4 {
    font-size: 21px;
    text-align: left;
    margin-bottom: 13px;
    color: #E91E63;
    font-weight: 700;
}
.contact-left ul li {
    text-align: left;
    display: block;
    font-size: 14px;
    line-height: 25px;
    color:#999;
}
.contact-left  .phone {
    margin: 25px 0;
}
.contact-left p {
    font-size: 14px;
    line-height: 25px;
    color: #999;
}
.contact-left p  a{
	  color: rgb(153, 153, 153);
	  font-size:14px;
}
.contact-right input.text, .contact-right textarea {
    width: 48.2%;
    float: left;
    margin: 0 10px 25px 0;
    padding: 15px 10px;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: transparent;
	color: #fff;
}

.contact-right textarea {
    width: 100%;
    height: 125px;
	color: #fff;
}
.contact-right input.more_btn {
    float: right;
    padding: 7px 15px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    outline: transparent;
	color:rgb(255, 255, 255);
	margin-bottom: 15px;
}
.contact-right input.more_btn:hover {
	color: #FFf;
    border: 2px solid #FF166D;
	background:#FF166D;
}
 ::-webkit-input-placeholder{
color:rgb(255, 255, 255) !important;
}
/*-- Map --*/

.map iframe {
	width: 100%;
	height: 400px;
}

.map-hover {
	position: relative;
}

.map-hover-1 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.46);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.map-hover-1:hover {
	background-color: transparent;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

/*-- //Map --*/

/*-- //Contact-Page-Styling --*/
